fastapi
uvicorn
numpy
soundfile
torch
torchaudio
torchcodec
modelscope
hyperpyyaml
omegaconf
hydra-core
conformer
librosa
pyworld
matcha-tts
wetext
transformers
x-transformers
silero-stress
openai-whisper
inflect
gdown
wget
onnx
onnxruntime-gpu
tqdm
scipy
sentencepiece
pyarrow
